<section aria-labelledby="faq-title" id="faq">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div class="max-w-2xl">
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
          Frequent questions and answers
        </p>
        <p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Because we wonder all day around
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="mt-12 space-y-12 divide-y-2">
          <!-- First Question -->
          <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
            <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
                How do I add vendors to my marketplace?
            </span>
            </div>
            <div class="lg:col-span-2">
              <p class="text-slate-500 text-sm">
                With Multivendor Marketplace, adding vendors is as simple as inviting them through their email addresses. They will receive an invitation to join and start selling on your platform.
              </p>
            </div>
          </div>
          <!-- Second Question -->
          <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
            <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
                Can I customize the look and feel of my marketplace?
            </span>
            </div>
            <div class="lg:col-span-2">
              <p class="text-slate-500 text-sm">
                Absolutely! Multivendor Marketplace offers extensive customization options, allowing you to tailor the design and branding of your marketplace to match your unique vision.
              </p>
            </div>
          </div>
          <!-- Third Question -->
          <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
            <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
                How are payments handled?
            </span>
            </div>
            <div class="lg:col-span-2">
              <p class="text-slate-500 text-sm">
                Multivendor Marketplace integrates with popular payment gateways, ensuring secure and automated payment processing. Vendors receive their earnings directly into their designated accounts.
              </p>
            </div>
          </div>
          <!-- Fourth Question -->
          <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
            <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
                Is customer support available?
            </span>
            </div>
            <div class="lg:col-span-2">
              <p class="text-slate-500 text-sm">
                Yes, we provide dedicated customer support to assist you with any questions or issues you may encounter while using Multivendor Marketplace.
              </p>
            </div>
          </div>
          <!-- Fifth Question -->
          <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
            <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
                Can I track the performance of my vendors?
            </span>
            </div>
            <div class="lg:col-span-2">
              <p class="text-slate-500 text-sm">
                Absolutely! Our advanced analytics feature provides detailed insights into each vendor's performance, including sales, revenue, and customer satisfaction metrics.
              </p>
            </div>
          </div>
          <!-- Sixth Question -->
          <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
            <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
                Is there a free trial available?
            </span>
            </div>
            <div class="lg:col-span-2">
              <p class="text-slate-500 text-sm">
                Yes, we offer a free trial period so you can experience the power of Multivendor Marketplace before committing to a subscription plan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
